/* Place here your custom css */
.hero-header-exopite {
    text-align: center;
}
.hero-header-exopite h1,
.hero-header-exopite h2 {
    color: #fff;
}
.hero-header-exopite h1 {
    font-size: 4rem;
    line-height: 6rem;
}
.hero-header-exopite h2 {
    font-size: 3rem;
    line-height: 3.3rem;
}
.page-exopite .site-branding.middle {
    width: 100%;
}
.site-branding .btn {
    padding: .5rem 1.8rem;
    font-size: 1.4rem;
}
.exopite-usp {
    font-size: 20px;
    font-weight: 400;
}
.image-container {
    margin-right: 0;
    margin-bottom: 20px;
}
.image-container,
.exopite-one-usp h4,
.exopite-one-usp p {
    display: block;
    text-align: center;
}
.exopite-desc h2,
.exopite-desc h4 {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(100, 100, 100, 1);
}
@media screen and (max-width: 767px) {
    .hero-header-exopite h2 {
        font-size: 2rem;
        line-height: 2.3rem;
    }
}
@media screen and (max-width: 670px) {
    .post-jsimageviewer .site-branding.center {
        left: auto;
    }
    .post-jsimageviewer .site-branding.middle.center {
        transform: translatey(-50%);
        padding: 0 10px;
    }
}
@media screen and (min-width: 768px) {
    .image-container,
    .exopite-one-usp h4,
    .exopite-one-usp p {
        display: flex;
        text-align: left;
    }
    .image-container {
        margin-right: 20px;
        margin-bottom: 0;
    }
}
.btn-download {
    background: #6a8ccb;
    padding: 0.5em 1.7em;
    font-size: 22px;
}
.jsimageviewer-hero-header {
    position: relative;
}
.jsimageviewer-hero-header h1 {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 53%;
    transform: translate(-50%,-50%);
}
.exopite-multifilter-usage-table tr td:first-child {
    width: 210px;
}
.exopite-multifilter-usage-table td {
    border: 1px solid #eee;
    padding: 2px 10px;
    font-size: 80%;
}

@media screen and (max-width: 550px) {
    .exopite-multifilter-usage-table td {
        border: none;
        border-left: 1px solid #f5f5f5;
        border-right: 1px solid #f5f5f5;
        border-top: 1px solid #f5f5f5;
        position: relative;
        padding-left: 65px;
        min-height: 34px;
    }
    table.exopite-multifilter-usage-table th {
        /*display: none;*/
        visibility: hidden;
        line-height: 0;
    }
    .exopite-multifilter-usage-table td {
        display: inline-block;
        width: calc( 100% - 28px ) !important;
        margin-left: 28px;
        text-align: left; /* or right */
    }
    .exopite-multifilter-usage-table td:last-child {
        margin-bottom: 3px;
        border-bottom: 1px solid #f5f5f5;
    }
    .exopite-multifilter-usage-table td:first-child {
        border-top: 2px solid #eee;
    }
    .exopite-multifilter-usage-table td:first-child:before ,
    .exopite-multifilter-usage-table td:nth-child(2):before,
    .exopite-multifilter-usage-table td:last-child:before {
        font-style: italic;
        color: #ccc;
        position: absolute;
        left: 5px;
    }
    /*
     * Responsive table
     * Info before table cell:
     *  (use data-th attribute, all cell must have this)
     *  - https://codepen.io/geoffyuen/pen/FCBEg
     *  (or use a before element, only once have to declair, less code)
     */
    .exopite-multifilter-usage-table td:before {
        /*content: attr(data-th) ": ";*/
    }
    .exopite-multifilter-usage-table td:first-child:before {
        content: 'option: ';
    }
    .exopite-multifilter-usage-table td:nth-child(2):before {
        content: 'values: ';
    }
    .exopite-multifilter-usage-table td:last-child:before {
        content: 'defaults: ';
    }
    /* increment */
    table.exopite-multifilter-usage-table tbody tr:before {
        content: counter(em-table-counter);
        counter-increment: em-table-counter;
        width: 28px;
        position: absolute;
        font-weight: bold;
        top: 0;
        bottom: 3px;
        background: #f5f5f5;
        text-align: center;
        border-top: 2px solid #eee;
    }
    table.exopite-multifilter-usage-table {
        counter-reset: em-table-counter;
    }
    table.exopite-multifilter-usage-table tr {
        position: relative;
        display: block;
    }
}

/* Hero Header */
.so-pb-hero-darken-bg {
    position: relative;
}
.so-pb-hero-darken-bg:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    content: '';
}
.entry-header h1 {
    margin-top: 60px;
}
/* EnlighterJS */
.EnlighterJS,
.EnlighterJSWrapper {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}
.enlighterEnlighterJSWrapper pre,
ol.enlighterEnlighterJS,
ul.enlighterEnlighterJS {
    border-radius: 3px !important;
    font-size: 12px !important;
    color: #939393 !important;
    background-color: #fff !important;
    padding-left: 10px;
    border: 1px solid #ddd !important;
}
ol.enlighterEnlighterJS li,
ul.enlighterEnlighterJS li {
    line-height: 20px !important;
    margin-left: 3.5em !important;
}
ol.enlighterEnlighterJS li {
    border-left: none !important;
    list-style: none !important;
}
ol.enlighterEnlighterJS {
  list-style-type: none;
  margin-left: 0;
}
ol.enlighterEnlighterJS > li {
  counter-increment: customlistcounter;
}

ol.enlighterEnlighterJS > li:before {
  content: counter(customlistcounter) " ";
  float: left;
  width: 3em;
  text-align: right;
  color: rgba(27,31,35,0.3);
  position: absolute;
  left: 10px;
}
ol.enlighterEnlighterJS:first-child {
  counter-reset: customlistcounter;
}
ol.EnlighterJS li:first-child,
ul.EnlighterJS li:first-child {
    padding-top: 16px !important;
}
ol.EnlighterJS li:last-child,
ul.EnlighterJS li:last-child {
    padding-bottom: 16px !important;
}
.highlight ol.EnlighterJS li,
.highlight ul.EnlighterJS li {
    background-color: #f7f7f9 !important;
    border-left: 2px solid #fbfbfb !important;
}
.highlight .enlighterEnlighterJSWrapper pre,
.highlight ol.enlighterEnlighterJS,
.highlight ul.enlighterEnlighterJS {
    border: none !important;
}
.highlight .enlighterEnlighterJSWrapper pre,
.highlight ol.enlighterEnlighterJS,
.highlight ul.enlighterEnlighterJS,
.highlight .EnlighterJS span {
    line-height: 1.5 !important;
    font-size: 15px !important;
    background-color: #f7f7f9 !important;
}
.highlight ol.enlighterEnlighterJS > li::before {
    width: 2.5em;
    color: rgba(27, 31, 35, 0.15);
}

/* DEBUG */
.erliama-stats {
    z-index: 20;
    color: #fff !important;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0,.5);
    width: 100%;
}
.preheader-background {
    z-index: 2;
    position: relative;
}
/* /DEBUG */

.test.responsive-remover-test {
    background: #f4f4f4;
    padding: 10px;
    font-size: 16px;
}
.test-title {
    font-weight: 400;
    padding-bottom: 12px;
}
.features {
    width: 100%;
}
.features th,
.features tbody td {
    padding: 5px 10px;
}
.features tbody td {
    border-top: 1px solid #ccc;
    border-right: 1px dotted #dbdbdb;
}
.features tbody td:last-child {
    border-right: none;
}
.features th {
    font-weight: 400;
}
.featured-item-alt {
    padding-left: 30px;
    position: relative;
    padding-bottom: 12px;
}
.featured-item-alt::after {
    content: '';
}
.featured-item-alt::before {
    content: '';
    position: absolute;
    top: 4px;
    width: 20px;
    height: 20px;
    background: #ccc;
    border-radius: 50%;
    left: -12px;
}
.featured-item-alt::after {
    content: '';
    border-left: 3px solid #ccc;
    position: absolute;
    left: -3px;
    height: 100%;
    top: 4px;
}
.featured-item-alt:last-child::after {
    border-left: none;
}
/**/
h4.description {
    margin-bottom: 20px;
    display: block;
    line-height: 1.4;
}
b.description {
    font-weight: 400;
}
.logo-jj-slogen {
    font-size: 60px;
    color:#000;
    position: relative;
    height: 60px;
    line-height: 61px;

}
.logo-jj-img {
    width: 46px;
    margin-bottom: 8px;
}
.logo-jj-img-2 {
    width: 36px;
    position: absolute;
    top: 0;
}
.logo-jj-img-2-ph {
    display: inline-block;
    width: 37px;
}
.logo-jj-img-3 {
    width: 48px;
    margin-bottom: 11px;
}
.logo-jj-img-4 {
    width: 48px;
    margin-bottom: 10px;
}
#parlament-silhouette img {
    display: none;
}
@media screen and (min-width: 768px) {
    #parlament-silhouette img {
        position: absolute;
        right: 0;
        top: -195px;
        width: 200px;
        display: block;
    }
    #parlament-silhouette {
        position: relative;
    }
}
@media screen and (min-width: 781px) {
    #parlament-silhouette img {
        top: -152px;
    }
}
@media screen and (max-width: 767px) {
    h1 {

    }
    h2 {
        font-size: 23px;
        line-height: 27px;
    }
    h3 {
        font-size: 21px;
        line-height: 25px;
    }
    h4 {
        font-size: 19px;
        line-height: 23px;
    }
    .hero-header-exopite h1 {
        font-size: 3.5rem;
        line-height: 5rem;
    }
    .hero-header-exopite h2 {
        font-size: 1.8rem;
        line-height: 2rem;
    }
}
#pg-1160-3 > .panel-row-style, #pg-1160-5 > .panel-row-style, #pg-1160-7 > .panel-row-style, #pg-1160-9 > .panel-row-style, #pg-1160-11 > .panel-row-style, #pg-1160-13 > .panel-row-style {
    background-attachment: fixed !important;
}

/*effects*/
@media screen and (max-width: 767px) {
    h1 {

    }
    h2 {
        font-size: 23px;
        line-height: 27px;
    }
    h3 {
        font-size: 21px;
        line-height: 25px;
    }
    h4 {
        font-size: 19px;
        line-height: 23px;
    }
    .hero-header-exopite h1 {
        font-size: 3.5rem;
        line-height: 5rem;
    }
    .hero-header-exopite h2 {
        font-size: 1.8rem;
        line-height: 2rem;
    }
}
ul.simple-list.list-small > li li {
    margin-left: 0;
}
#pg-1160-3 > .panel-row-style, #pg-1160-5 > .panel-row-style, #pg-1160-7 > .panel-row-style, #pg-1160-9 > .panel-row-style, #pg-1160-11 > .panel-row-style, #pg-1160-13 > .panel-row-style {
    background-attachment: fixed !important;
}
.exopite-multifilter-image-description {
    text-align: center;
    font-size: 14px;
    margin-top: -32px;
}
.btn.btn-material.btn-readmore.next {
    margin-top: 30px;
}
.exopite-multifilter-filter-reset,
.exopite-multifilter-filter-item {
    background: #fff;
    border: 1px solid #ddd;
}

.page-multifilter .exopite-multifilter-search input.form-group {
    border-style: solid;
    border-color: #ddd;
}
.page-multifilter .exopite-multifilter-search input.form-group {
    border-top-width: 1px;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-left-width: 1px;
}
.page-multifilter .exopite-multifilter-search button {
    background: #ddd;
    cursor: pointer;
}
/* Contact form */
.contact-form {
    position: absolute;
    width: 100%;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 100px;
}
.page-contact article {
    padding-bottom: 0;
}
.page-contact footer {
    display: none;
}
.page-contact #content {
    margin-bottom: 0;
}
.page-contact label {
    width: 100%;
}
.page-contact .file-item,
.page-contact input[aria-required="true"],
.page-contact textarea[aria-required="true"] {
    width: 100%;
    background-color: rgba(255,255,255,.9);
    border-radius: 2px;
}
.page-contact .file-item {
    display: block;
}
.page-contact .wpcf7-response-output {
    padding: 0;
}
.page-contact textarea,
.page-contact input[type="text"],
.page-contact input[type="email"],
.page-contact input[type="password"],
.page-contact input[type="search"] {
    padding: .7rem;
}
.wpcf7-form-control.g-recaptcha.wpcf7-recaptcha .iframe,
.page-contact .file-item,
.page-contact input[aria-required="true"],
.page-contact textarea[aria-required="true"] {
    box-shadow: 0 0px 6px 0 rgba(0,0,0,.18);
    border: none;
}
.page-contact .contact-form {
    padding: 0 15px;
}
/*body.page-contact {
    height: 100vh;
    overflow: hidden;
}*/
/*.multifilter-top-image {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.multifilter-hero-header h1,
.multifilter-hero-header h2 {
    text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}
.multifilter-hero-header h1 {
    color:#fff;
    padding-bottom:30px;
    text-align: center;
}
.multifilter-hero-header h2 {
    color:#fff;
    padding-bottom:30px;
    text-align: center;
    font-size: 21px;
}
@media all and (max-width: 767) {
    .multifilter-hero-header h2 {
        font-size: 21px;
    }
}
@media all and (min-width: 768px) {
    .multifilter-hero-header .hero-new-line-desktop {
        display: block;
        padding-bottom: 12px;
    }
    .multifilter-hero-header h2 {
        text-align: left;
    }
    .multifilter-hero-header h1 {
        font-size:55px;
    }
}
@media all and (min-width: 901px) {
    .multifilter-hero-header .hero-new-line-desktop {
        padding-bottom: 17px;
    }
    .multifilter-hero-header h2 {
        font-size: 28px;
    }
}
@media all and (min-width: 768) and (max-width: 900px) {
    .multifilter-hero-header h2 {
        font-size: 28px;
    }
}
#multifilter-screenshots img {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    margin-top: 4px;
}
.no-col-bottom-margin > div:not(:last-child) {
    margin-bottom: 0 !important;
}
*/
.container.hero-header-light h1,
.container.hero-header-light h2 {
    color: #fff;
    text-shadow: 0px 0px 5px rgba(100, 100, 100, 1);
}
.container.hero-header-light h1 {
    font-size: 50px;
}
/*#exopite-blog-features-wrapper .so-panel.panel-first-child {
    margin-bottom: 0;
}
#exipote-blog-style-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}
*/
/*.bg-text-header::before {
    content: 'Header';
    position: absolute;
    font-size: 28vw;
    font-weight: 600;
    color: rgba(0, 0, 0, .05);
    -moz-transform: rotate(-20.0deg) translate(-50%,-50%);
    -o-transform: rotate(-20.0deg) translate(-50%,-50%);
    -webkit-transform: rotate(-20.0deg) translate(-50%,-50%);
    left: 50%;
    top: 15%;
    transform: rotate(-20.0deg) translate(-50%,-50%);
}
@media screen and (min-width: 900px) {
    .bg-text-header::before {
        font-size: 20vw;
    }
}
@media screen and (min-width: 1920px) {
    .bg-text-header::before {
        font-size: 240px;
    }
}
.bg-text-header {
    position: relative;
}
*/
.demo-item {
    padding-top: 30px;
    padding-bottom: 20px;
}
.demo-item .exopite-multifilter-filter-wrapper {
    padding-top: 0;
}
.demo-item .equal-height .entry-content-container {
    background: #fff;
}
.page-exopite-multifilter-demos small code {
    line-height: 23px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.scrollToTop {
    background: #5379BA;
}
#footer-menu {
    margin-bottom: 0;
}
#footer-menu li:not(:last-child)::after {
    padding-right: 4px;
}
.home .hero-header .divider-style-diagonal-shadow {
    background: transparent;
    overflow: visible;
}
.home .hero-header .divider-style-diagonal-shadow::after {
    height: 70%;
}
.home .site-branding {
    width: 100%;
}
.divider-style-diagonal-shadow .branding {
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    margin-bottom: 3.2%;
    font-weight: 900;
    width: 100%;
    margin-bottom: 5.6%;
    -moz-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    font-size: 70px;
    line-height: 70px;
}
.sub-branding__wrapper {
    position: relative;
    z-index: 3;
    background: #fff;
    text-align: center;
    height: 50px;
}
.sub-branding__content {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    position: absolute;
    top: -0.9vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    color: #535353;
}
.home .hero-header-skip-to-content {
    bottom: 100px;
    left: 50px;
}
@media only screen and (min-width: 768px) {
    .home .hero-header-skip-to-content {
        bottom: 50px;
        left: 50px;
    }
}
@media only screen and (min-width: 500px) {
    .divider-style-diagonal-shadow .branding {
        font-size: 100px;
        line-height: 100px;
        margin-bottom: 5.6%;
        -moz-transform: rotate(-6deg);
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    .sub-branding__content {
        top: -1.4vw;
    }
}
@media only screen and (min-width: 600px) {
    .divider-style-diagonal-shadow .branding {
        margin-bottom: 3.6%;
        -moz-transform: rotate(-4deg);
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    .sub-branding__content {
        top: -1.3vw;
    }
}
@media only screen and (min-width: 680px) {
    .divider-style-diagonal-shadow .branding {
        margin-bottom: 3.8%;
    }
    .sub-branding__content {
        top: -1.5vw;
    }
}
@media only screen and (min-width: 750px) {
    .sub-branding__content {
        top: -1.7vw;
    }
}
@media only screen and (min-width: 900px) {
    .divider-style-diagonal-shadow .branding {
        margin-bottom: 2.8%;
        -moz-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
    .sub-branding__content {
        top: -2vw;
    }
}
@media only screen and (min-width: 1060px) {
    .divider-style-diagonal-shadow .branding {
        margin-bottom: 2.8%;
    }
}
@media only screen and (min-width: 1300px) {
    .divider-style-diagonal-shadow .branding {
        margin-bottom: 3.0%;
    }
    .sub-branding__content {
        top: -2.1vw;
    }
}
@media only screen and (min-width: 1500px) {
    .divider-style-diagonal-shadow .branding {
        margin-bottom: 3.1%;
    }
    .sub-branding__content {
        top: -2.2vw;
    }
}
.branding-bottom {
    height: 100px;
}
.home .hero-header,
.home .hero-header-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}
