/*--------------*/
/***** Ming *****/
/*--------------*/
/* https://tympanus.net/Development/HoverEffectIdeas/index2.html */

.effect-thumbnail {
    background: #030c17;
    float: left;
}

.effect-thumbnail figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.effect-thumbnail img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

.effect-thumbnail figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.4,1.4,1);
    transform: scale3d(1.4,1.4,1);
}

.effect-thumbnail h2 {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.effect-thumbnail .figure-caption {
    padding: 1em;
    opacity: 0;
    color: #fff;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.effect-thumbnail:hover h2 {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.effect-thumbnail:hover figcaption::before,
.effect-thumbnail:hover .figure-caption {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

.effect-thumbnail:hover figcaption {
    background-color: rgba(58,52,42,0);
}

.effect-thumbnail:hover img {
    opacity: 0.4;
}
