
/* Livemesh Tabs */
.lsow-tabs .lsow-tab-nav .lsow-tab a {
    padding: 10px 40px;
}
.lsow-tabs .lsow-tab-nav .lsow-tab span.lsow-tab-title {
    font-weight: 400;
    letter-spacing: 0px;
}
.lsow-tabs .lsow-tab-panes .lsow-tab-pane {
    padding: 20px;
}
.lsow-tabs.style9,
.lsow-tabs.style1 .lsow-tab-panes,
.lsow-tabs.style1 .lsow-tab-nav .lsow-tab:last-child,
.lsow-tabs.style1 .lsow-tab-nav .lsow-tab:first-child {
    border-radius: 0;
}
.lsow-tabs.style9 .lsow-tab-nav .lsow-tab.lsow-active,
.lsow-tabs.style9,
.lsow-tabs.style1 .lsow-tab-nav .lsow-tab.lsow-active,
.lsow-tabs.style1 .lsow-tab-panes {
    background: #fafafa;
}

/* Livemesh Team */
.lsow-team-members.lsow-style1 .lsow-team-member .lsow-image-wrapper img {
    margin: 0 auto;
    border-radius: 0px;
}
.lsow-style1 .lsow-team-member .lsow-team-member-text {
    margin-top: 15px;
}
.lsow-style1 .lsow-team-member .lsow-team-member-text .lsow-title {
    letter-spacing: 0px;
    font-weight: 400;
    color: inherit;
}
.lsow-team-members.lsow-style1 .lsow-team-member .lsow-team-member-text .lsow-title {
    margin-bottom: 2px;
}
.lsow-team-members .lsow-team-member .lsow-team-member-text .lsow-team-member-position {
    font-size: 14px;
    font-style: normal;
    text-transform: uppercase;
}

/* Livemesh Testemonial */
.lsow-testimonials .lsow-testimonial-text {
    border-radius: 3px;
    padding: 20px;
}
.lsow-testimonials .lsow-testimonial-user .lsow-text .lsow-author-name {
    letter-spacing: 0;
    color: #555;
    font-weight: 400;
}
.lsow-testimonials .lsow-author-credentials {
    font-size: 14px;
}
/* Flipbox */
.cl-flipbox-hh .cl-flipbox-front-desc, .cl-flipbox-back-desc {
    line-height: 1.5;
    margin: 0 !important;
}

/* CodeLights Testemonial */
.widget_cl-review .cl-review.layout_balloon .cl-review-quote-text {
    padding: 21px 28px 23px;
    border-radius: 3px;
    background-color: #f8f8f8;
}
.cl-review.quote_italic .cl-review-quote-text q {
    font-size: 18px;
}
.cl-review .cl-review-author-name {
    font-weight: 300;
    font-size: 18px;
}
/* Livemesh Services */
/* Style 3 */
.lsow-services.lsow-style3 .lsow-service .lsow-icon-wrapper span {
    text-align: center;
    font-size: 50px;
    color: #aaa;
}
.lsow-services.lsow-style3 .lsow-service .lsow-service-text .lsow-title {
    letter-spacing: 0;
    font-weight: 400;
    color: #555;
    text-align: center;
}
.lsow-services.lsow-style3 .lsow-service .lsow-service-text {
    font-size: 15px;
    line-height: 1.7;
    color: inherit;
    text-align: center;
}
/* Style 1 */
.lsow-services.lsow-style1 .lsow-service {
    border: 1px solid #6a8ccb;
}
.lsow-services.lsow-style1 .lsow-service .lsow-icon-wrapper span {
    font-size: 30px;
    color: #fff;
    background: #6a8ccb;
    padding: 10px 0;
}
.lsow-services.lsow-style1 .lsow-service-wrapper:first-child .sow-icon-fontawesome {
    font-size: 40px;
    padding: 5px 0;
}
.lsow-services.lsow-style1 .lsow-service-text {
    padding: 0 10px 20px;
    width: 100%;
    display: block;
    max-width: 100%;
}
.lsow-services.lsow-style1 .lsow-service .lsow-service-text .lsow-title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0;
    font-weight: 400;
    color: inherit;
    text-transform: none;
    margin-bottom: 14px;
}
.lsow-services.lsow-style1 .lsow-service {
    width: 100%;
}
.lsow-services.lsow-style1 .lsow-service {
    margin-bottom: 36px;
}
.lsow-container.lsow-style1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lsow-container.lsow-style1 .lsow-fourcol {
    display: flex;
    flex-wrap: wrap;
}
.lsow-services.lsow-style2 .lsow-service .lsow-icon-wrapper span {
    font-size: 50px;
    line-height: 60px;
    border: 2px solid #6a8ccb;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    float: none;
    margin-right: 0;
    color: #6a8ccb;
}
.lsow-services.lsow-style2 .sow-icon-fontawesome[data-sow-icon]:before {
    content: attr(data-sow-icon);
    vertical-align: -webkit-baseline-middle;
}
.lsow-services.lsow-style2 .sow-icon-fontawesome[data-sow-icon]::before,
.lsow-services.lsow-style2 .sow-icon-ionicons[data-sow-icon]:before {
    content: attr(data-sow-icon);
    padding-top: 16px;
    display: inline-block;
}
.lsow-services.lsow-style2 .lsow-service-text,
.lsow-services.lsow-style2 .lsow-icon-wrapper {
    text-align: center;
    padding-top: 20px;
}
.lsow-services.lsow-style2 .lsow-service .lsow-service-text .lsow-title {
    letter-spacing: 2px;
    font-weight: 400;
}
/* Inked divider */
.iw-so-divider:before {
    content: '×';
    position: absolute;
    top: -16px;
    left: calc( 50% - 25px );
    width: 50px;
    background: #fff;
    text-align: center;
    font-size: 25px;
    color: #aaa;
}
.so-widget-ink-divider {
    position: relative;
}
/* Inked Accordion */
.iw-so-accordion-plain .sow-icon-fontawesome {
    background: #ffaa00;
    padding: 12px 11px 10px 13px;
    font-size: 14px !important;
}
.iw-so-accordion .iw-so-acc-item .iw-so-acc-title {
    padding: 4px;
}
.widget_ink-accordion .iw-so-accordion .iw-so-acc-item .iw-so-acc-title {
    padding-left: 10px;
    margin-left: 40px;
    font-size: 1em;
}
.widget_ink-accordion .iw-so-accordion .iw-so-acc-item .iw-so-acc-title span {
    top: 0px;
    left: -20px !important;
}
.widget_ink-accordion .so-widget-ink-accordion .iw-so-accordion .iw-so-acc-item {
    margin-bottom: 6px;
}
.widget_ink-accordion .iw-so-accordion .iw-so-acc-item .iw-so-acc-content {
    margin-left: 40px;
    font-size: 0.9em;
    padding: 10px;
}
/* Featured items (div) */
.featured-item {
    position: relative;
    display: block;
    margin: .5em 0 .5em 2.5em;
    margin-left: 2.7em;
    text-decoration: none;
    transition: all .3s ease-out;
    background: #f4f4f4;
    color: #444;
    font-size: 15px;
    padding: .3em 1.2em 1em 1.2em;
}
.featured-item:hover {
    background: #eee;
}
.featured-item::before {
    position: absolute;
    text-align: center;
    left: -2.9em;
    top: 1em;
    margin-top: -1em;
    background: #ffaa00;
    content: counter(li);
    counter-increment: li;
    color: #fff;
    content: '\f067';
    font-family: 'FontAwesome';
    height: 2.43em;
    width: 2.43em;
    line-height: 2.58;
    font-size: 14px;
    padding-left: 2px;
}
.featured-title {
    font-weight: 400;
    font-size: 16px;
}