
/* lists */
ul.features {
    padding-left: 0;
}
ul.features li {
    list-style: none;
    position: relative;
    padding-left: 20px;
}
ul.features li::before {
    content: '\f067'; /*\2022*/
    position: absolute;
    left: 0;
    font-size: 14px;
    line-height: 1.8rem;
    font-family: 'FontAwesome';
    color: #5379BA;
}
/* Rounded list */
ul.circles-list,
ul.rectangle-list,
ul.simple-list,
ul.rounded-list {
    counter-reset: li;
    list-style: none;
    /*font: 15px 'trebuchet MS', 'lucida sans';*/
    padding: 0;
    margin-bottom: 4em;
    /*text-shadow: 0 1px 0 rgba(255,255,255,.5);*/
}
ul.simple-list li,
ul.circles-list > li,
ul.rectangle-list li,
ul.rounded-list li {
    position: relative;
    display: block;
    padding: .2em .4em .2em 1.2em;
    margin: .5em 0 .5em 2.5em;
    text-decoration: none;
    transition: all .3s ease-out;
}
ul.rectangle-list,
ul.rounded-list {
    font-size: 15px;
}
ul.circles-list > li:before {
    position: absolute;
    top: 0;
    left: -2.5em;
    width: 2em;
    height: 2em;
    font-size: 1em;
    line-height: 1.65em;
    text-align: center;
    color: #f5f5f5;
    border: 3px solid #c5c5c5;
    border-radius: 50%;
    background-color: #464646;
    content: counter(li);
    counter-increment: li;
}
ul.rectangle-list li,
ul.rounded-list li {
    background: #f4f4f4;
    color: #444;
}
ul.rectangle-list li {
    margin-left: 2.7em;
}
ul.rounded-list li:before {
/*    content: counter(li);
    counter-increment: li;*/
    content: '\f067'; /*\2022*/
    font-family: 'FontAwesome';
    position: absolute;
    left: -1.3em;
    top: 1.2em;
    margin-top: -1.3em;
    background: #6a8ccb;
    height: 2.4em;
    width: 2.4em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    border-radius: 2em;
    transition: all .3s ease-out;
    color: #fff;
}
ul.rectangle-list li:hover,
ul.rounded-list li:hover{
    background: #eee;
}
ul.rectangle-list li:before {
    position: absolute;
    text-align: center;
    left: -2.7em;
    top: 1em;
    margin-top: -1em;
    background: #ffaa00;
    /* Counter */
    content: counter(li);
    counter-increment: li;
    height: 2.26em;
    width: 2.26em;
    line-height: 2.3;
    color: #fff;
}
ul.rectangle-list.fa-icons li:before {
    /* FontAwesome icon */
    content: '\f00c';
    font-family: 'FontAwesome';
    height: 2.43em;
    width: 2.43em;
    line-height: 2.58;
    font-size: 14px;
}
ul.simple-list > li:before {
    position: absolute;
    top: 0;
    left: -1.4em;
    width: 1.1em;
    font-size: 1.8em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
    content: counter(li);
    counter-increment: li;
    letter-spacing: -4px;
}
ul.simple-list > li {
    padding-left: 10px;
    margin: .5em 0 .5em 1.4em;
}
ul.simple-list.list-small li {
    padding: 0 .4em 0 1.2em;
}
ul.simple-list.list-small > li {
    min-height: 25px;
    border-left: 2px solid #CCCCCC;
    line-height: 24px;
    padding-left: 10px;
    margin: .6em 0 .4em 1.4em;
    display: block;
}
ul.simple-list.list-small > li::before {
    top: -2px;
    left: -1.6em;
    font-size: 1.2em;
    font-weight: 400;
}
ul.circles-list > li {
    padding-left: 0;
}
ul.simple-list > li{
    min-height: 1.8em;
    border-left: 2px solid #CCCCCC;
}
.simple-list.list-small {
    margin-bottom: 0;
}
.list-desc {
    font-size: 0.7em;
    color: #ababab;
    font-style: italic;
    line-height: 0.9em;
    display: block;
}
.rectangle-list h5 {
    padding-top: 4px;
}
.rectangle-list p {
    margin-bottom: 0;
}
ul.simple-list.list-small > li li {
    margin-left: 0;
}