/*
 Theme Name:   Exopite One Child
 Theme URI: http://joe.szalai.org/exopite
 Description:  Exopite One Child Theme
 Author: Joe Szalai
 Author URI: http://joe.szalai.org
 Template:     exopite
 Version:      1.0.0
 License:      GNU General Public License v3 or later
 License URI:  http://www.gnu.org/licenses/gpl-3.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  exopite-child
*/
